{% extends 'core/base.html' %}

{% block title %}Agenda{% endblock %}

{% block background %}{% load static %}{% static 'core/img/agenda.jpg' %}{% endblock %}

{% block headers %}
<h1>Agenda</h1>
<span class="subheading">Consultorio</span>
{% endblock %}
{% block content %}
  <table class="table table-bordered">
  <thead>
    <tr>
      <td>Fecha y Hora de Turno</td>
      <td>Paciente</td>      
    </tr>
  </thead>
  <tbody>
    {% if object_list %}
    {% for turno in object_list %}    
    <tr>
      <td>{{ turno.fecha }}</td>                
      <td><a href="{% url 'turnos:paciente_listar' turno.persona %}">{{turno.persona}}</a></td>
    </tr>     
    {% endfor %}
    {% else %}
      <h1>No hay Turnos Reservados</h1>
    {% endif %}
  </tbody>
</table>
{% endblock %}  